# No IntelliJ Idea project files
.idea/
*.iml

# No Eclipse settings
.project
.classpath
.settings/

# No VS Code settings
.vscode/

# No derived resources
target/

# No temp files
*~

# No log files
*.log

# No magic files used by the OS
.DS_Store
