name: macos-build

on:
  push:
    branches:
    - master # build after merging code to master

  pull_request:
    branches:
    - master # build after opening a new PR

  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        jdk: [16, 21, 24]

    runs-on: ${{ matrix.os }}
    env:
      JDK_VERSION:  ${{ matrix.jdk }}

    steps:
      - name: checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'

      - name: Install botan
        run: brew install botan@2

      - name: Build with Maven
        run: |
          echo 'export PATH="/opt/homebrew/opt/botan@2/bin:$PATH"' >> /Users/runner/.bash_profile
          source /Users/runner/.bash_profile
          mvn --batch-mode --update-snapshots verify
