name: ubuntu-build

on:
  push:
    branches:
    - master # build after merging code to master

  pull_request:
    branches:
    - master # build after opening a new PR

  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        jdk: [17, 21, 24]

    runs-on: ${{ matrix.os }}
    env:
      JDK_VERSION:  ${{ matrix.jdk }}

    steps:
      - name: checkout repository code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'adopt'

      - name: Install botan
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install botan

      - name: Build with Maven
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          mvn --batch-mode --update-snapshots verify -Dnative.lib.path=/home/linuxbrew/.linuxbrew/opt/botan/lib
